h1{
    color: rgb(0, 172, 106);
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
}

p{
    color: rgb(216, 252, 58);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}

